/*Reset básico*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
.site-header{
    background-color: #023818;
    color: white;
    text-align: center;
    padding: 20px;
}

.site-header .subtitle{
    font-size: 1.2em;
    margin-top: 5px;
}

/*Menú*/
.menu > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.menu ul li{
    position: relative;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    display: block;
}

.has-submenu .submenu{
    display: none;
    position:absolute;
    top: 100%;
    left: 0;
    background-color: rgb(15, 83, 43);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    min-width: 150px;
}

.has-submenu:hover .submenu{
    display: block;
}

.submenu li a{
    display: block;
    padding: 8px 12p;
    color: white;
}

.submenu li a:hover{
    background-color: #28a745;
}

/*Body*/
.content{
    padding: 20px;
    text-align: center;
}

.card{
    margin-bottom: 30px;
}

.gallery{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.item img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
}

.button{
    display: inline-block;
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button:hover{
    background-color: #1e7e34;
}
/*Footer*/
.site-footer{
    background-color: #023818;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
